.navbar {
	padding-bottom: 0;
	margin-bottom: 0px;
}

.transportation {
	background-color: #778899;
}

p, img{
	display:none;
}

@media(min-width:768px){
	p{
		display: inline-block;
	}
	img{
		display: inline-block;
	}
}